/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url(images/left_menu_bg.gif) top repeat-x;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link,
ul.left-menu li a.selected:visited,
ul.left-menu li a.selected:active,
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}

.ft_about{
	float:left;
	width:140px;
	padding-right:60px;
	padding-top: 17px;
}
.ft_about h4{
	color:#e6f3fb;
	font-size:18px;
	text-shadow:0 1px 1px #1b384e;
	padding-bottom:19px;
	border-bottom:1px solid #47799e;
}
.ft_about ul{
	display:block;
	padding-top:6px;
}
.ft_about ul li{
	list-style:none;
	padding:10px 0 7px;
}
.ft_about ul li a{
	color:#bcd0df;
	text-shadow:0 1px 1px #1b384e;
	font-weight:bold;
	text-decoration:none;
	font-size:14px;
}
.ft_about ul li a:hover{
	width:350px;
	padding-right:210px;
}

